.cloud
{
    background-color: #ecf0f1;
}
#navbarColor01
{
background-color: #ecf0f1;
}
.logo
{
max-height: 25%;
max-width: 25%;
}
.button-red
{
    background-color: #ef4c3c;
}
h1,h2,p
{
    color: #2C3E50;
}
.card
{
    background-color: #ffffff;
}
.map
{
    margin: 0 auto;
    display: block;
}
